#### 6-4-1 時間序列資料處理的基礎

In [1]:
import pandas_datareader as pdr

In [2]:
start_data = '2001/1/2'
end_data = '2016/12/30'

fx_jpusdata = pdr.DataReader('DEXJPUS','fred',start_data,end_data) # 從2001/1/2至2016/12/30為止的美元日幣匯率資料(DEXJPUS)，若有遺漏的日程可能是假日

In [3]:
fx_jpusdata.head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-08   115.97

In [4]:
# 觀察2016年4月的資料
fx_jpusdata['2016-04']

/var/folders/gr/wkmgmg2d0w7dft51ggc120900000gn/T/ipykernel_3249/2845459227.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  fx_jpusdata['2016-04']

            DEXJPUS
DATE
2016-04-01   112.06
2016-04-04   111.18
2016-04-05   110.26
2016-04-06   109.63
2016-04-07   107.98
2016-04-08   108.36
2016-04-11   107.96
2016-04-12   108.54
2016-04-13   109.21
2016-04-14   109.20
2016-04-15   108.76
2016-04-18   108.85
2016-04-19   109.16
2016-04-20   109.51
2016-04-21   109.41
2016-04-22   111.50
2016-04-25   111.08
2016-04-26   111.23
2016-04-27   111.26
2016-04-28   108.55
2016-04-29   106.90

In [5]:
# 取出月底的匯率
fx_jpusdata.resample('M').last().head() # resample中的引數指定Ｍ為取出每月資料，last為取出尾端的資料

            DEXJPUS
DATE
2001-01-31   116.39
2001-02-28   117.28
2001-03-31   125.54
2001-04-30   123.57
2001-05-31   118.88

In [9]:
fx_jpusdata.resample('D').last().head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-06      NaN

In [7]:
# 使用ffill方法填補NaN
fx_jpusdata.resample('D').ffill().head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-06   116.19

In [11]:
# 將資料往後偏移一個單位
fx_jpusdata.shift(1).head()

            DEXJPUS
DATE
2001-01-02      NaN
2001-01-03   114.73
2001-01-04   114.26
2001-01-05   115.47
2001-01-08   116.19

In [13]:
# 計算前一天與當日的匯率比例
fx_jpusdata_ratio = fx_jpusdata / fx_jpusdata.shift(1)
fx_jpusdata_ratio.head()

             DEXJPUS
DATE
2001-01-02       NaN
2001-01-03  0.995903
2001-01-04  1.010590
2001-01-05  1.006235
2001-01-08  0.998107

#### 練習問題6-16

In [15]:
# 每年的平均值推移資料
fx_jpusdata.resample('Y').mean().head()

               DEXJPUS
DATE
2001-12-31  121.568040
2002-12-31  125.220438
2003-12-31  115.938685
2004-12-31  108.150830
2005-12-31  110.106932

### 6-4-2 移動平均

In [16]:
fx_jpusdata.head()

            DEXJPUS
DATE
2001-01-02   114.73
2001-01-03   114.26
2001-01-04   115.47
2001-01-05   116.19
2001-01-08   115.97

In [17]:
# 每3天的移動平均值
fx_jpusdata.rolling(3).mean().head()

               DEXJPUS
DATE
2001-01-02         NaN
2001-01-03         NaN
2001-01-04  114.820000
2001-01-05  115.306667
2001-01-08  115.876667

In [18]:
# 每3天的標準差之變遷過程
fx_jpusdata.rolling(3).std().head()

             DEXJPUS
DATE
2001-01-02       NaN
2001-01-03       NaN
2001-01-04  0.610000
2001-01-05  0.975312
2001-01-08  0.368963

#### 練習問題6-17

In [22]:
fx_jpusdata.rolling(20).mean().dropna()

             DEXJPUS
DATE
2001-02-12  116.6910
2001-02-13  116.6920
2001-02-14  116.6070
2001-02-15  116.5015
2001-02-16  116.4130
...              ...
2016-11-08  104.1600
2016-11-09  104.1780
2016-11-10  104.3250
2016-12-22  115.1555
2016-12-23  115.3580

[1593 rows x 1 columns]

### 第6章 綜合問題

In [23]:
cd /Users/yexiangyu/Desktop/東京大學資料科學家養成全書/Ch3_敘述統計與簡單回歸分析/chap3

/Users/yexiangyu/Desktop/東京大學資料科學家養成全書/Ch3_敘述統計與簡單回歸分析/chap3

In [27]:
import pandas as pd
student_data_math = pd.read_csv('student-mat.csv',sep=';')

student_data_math1 = student_data_math.groupby(['age','sex'])['G1'].mean()
student_data_math1.unstack()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000
21         NaN  10.000000
22         NaN   6.000000

In [28]:
student_data_math1.unstack().dropna()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000